
/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

@import "site.scss";


/*--------------------------------------------------------------
# Alpha 1 Body 
--------------------------------------------------------------*/

body.waitlist {
  font-family: $main-font;
  letter-spacing: -0.04em;

  .container {
    max-width: 1600px;
  }

  header {
    box-shadow: none;
    border-bottom: none;
    padding: 30px 20px;

    .container {
      max-width: 2000px;
    }
  }

  div.nav-btn-container {
    float: right;
  }

  a.nav-btn, button.nav-btn {
    font-size: 0.8em;
    padding: 10px 20px;
    color: white;
    background: $red;
    text-transform: none;
    background-color: $red;
    border: none;
    font-weight: 600;
    border-radius: 4em;
    
    &:hover {
      background-color: darken($red, 10%);
      transition: all ease-in .1s;
      color: white;
    }
  }

  img.brand {
    max-height: 40px;
  }

  .text {
    max-width: 800px;
  }


  footer {
    padding: 0px 0px 40px;
  }

  .credits {
    font-size: 1.5em;
    margin-top: 0px;
    font-weight: 500;
    opacity: 1;
  }


  .mid-content-section {
    padding: 40px 0px;
    background: $light-blue;

    .img-fluid {
      
    }
  }

  .cta-section {
      padding: 70px 0px 10px;
      text-align: center;
  
      .text {
        margin: 0 auto;
      }

    }

} // end lp




/*--------------------------------------------------------------
# Waypoint
--------------------------------------------------------------*/

body.waypoint {
    background: white;
  
  section.hero {
    padding: 50px 0px 100px;
  }

  section.main {
    color: $waypoint-black;


    h1 {
      font-size: 3.4em;
      font-weight: 700;
      margin: .6em 0px;
      letter-spacing: -0.02em;
      color: $waypoint-black;
    }


    h2 {
      font-size: 2.3em;
      font-weight: 700;
    }

    p {
      font-size: 1.3em;
      font-weight: 500;
      color: $waypoint-black;
    }

  ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;

    li {
      position: relative;
      padding-left: 50px;
      margin: 1.8em 0px;      
    }
    li:before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      background-image: url('/assets/img/checkmark.svg');
      opacity: .8;
      background-size: cover;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

    a.cta.lp, button {
      margin: .8em 0 1.6em;
      font-size: .75em;
      font-weight: 600;
      border: none;
      color: white;
      outline: none;
      letter-spacing: 0.001em;
      padding: 12px 34px;
      box-shadow: none;
      background-color: $red;
      border-radius: 6em;
      &:hover {
        background-color: darken($red, 10%);
      }
    }

    .img-fluid {
      max-width: 85%;
      background-color: transparent;
      border-radius: 0px;
      padding: 0px;
    }


  } // end section.main

  footer {
      color: $waypoint-black;
  }


/*--------------------------------------------------------------
# Waypoint Mobile 
--------------------------------------------------------------*/
//continues from open parenthesis above

  @media (max-width: $sm-screen) { 

    header {
      padding: 20px;
    }
    .mobile-nav-toggle {
      display: none;
    }

    #clearbit {
      max-height: 40px;
    }

    section.main {

      .text {
        padding-top: 0px;
      }

      h1 {
        font-size: 2.1em;  
        font-weight: 500;
        margin-top: 0px
      }

      p {
       // text-align: center;
        font-weight: 300;
        font-size: 1.2em;
        margin: 1.5em 0px;
      }

      ul {
        text-align: left;
        font-size: 1em;

        li {
          margin: 1.2em 0px;
        }
      }

      button.cta {
        font-size: 1em;
        width: auto;
        padding: 1em 2.5em;
        margin-top: .5em;
      }

    }//end seciton main 

  } // end mobile waypoint

} // end waypoint 




