
@import "lp.scss";
@import "site.scss";



/*--------------------------------------------------------------
# Main Paragraph Sections
--------------------------------------------------------------*/

section.main {
	height: 80vh;

	&.lp {
		height: auto;
	}

	.row {
		margin: auto;
		display: flex;
	}

	.text {
		padding: 0px 30px;
	}

	.image {
		text-align: center;
	}

	h1 {
	  font-size: 1.9rem;
	  font-weight: 700;
	  margin-bottom: 10px; 
	}

	h2 {
		font-size: 1.5em;
		margin: 20px 0px;
		line-height: 1.3em;
	}

	b {
		color: $black;
		font-weight: 700;
	}

	a.cta-link {
		font-weight: 700;
		font-size: 0.8em;
		margin: 10px 0px;

	}

	.highlight {
	    border-bottom: 4px solid rgba($blue,.99);
	}

	@media (max-width: $sm-screen) {
		height: 100%;
		padding: 20px 0px;

		.img-fluid.wide, .img-fluid.tall {
			max-width: 100%;
			max-height: 100%;
		}

	} //end mobile

}



/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

footer {
	font-weight: 700;
	font-size: 0.6em;
	padding-bottom: 20px;

	.credits {
		margin-top: 6px;
		opacity: 0.7;
	}

	img.icon {
		margin-top: 2px; 
		width: 36px;
	}

	@media (max-width: $sm-screen) {
		padding: 0px 0px;

		img.icon {
			margin-top: 10px;
		}
	}

}


