/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alpha 1 Body 
--------------------------------------------------------------*/
body.waitlist {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.04em;
}
body.waitlist .container {
  max-width: 1600px;
}
body.waitlist header {
  box-shadow: none;
  border-bottom: none;
  padding: 30px 20px;
}
body.waitlist header .container {
  max-width: 2000px;
}
body.waitlist div.nav-btn-container {
  float: right;
}
body.waitlist a.nav-btn, body.waitlist button.nav-btn {
  font-size: 0.8em;
  padding: 10px 20px;
  color: white;
  background: #FF492C;
  text-transform: none;
  background-color: #FF492C;
  border: none;
  font-weight: 600;
  border-radius: 4em;
}
body.waitlist a.nav-btn:hover, body.waitlist button.nav-btn:hover {
  background-color: #f82200;
  transition: all ease-in 0.1s;
  color: white;
}
body.waitlist img.brand {
  max-height: 40px;
}
body.waitlist .text {
  max-width: 800px;
}
body.waitlist footer {
  padding: 0px 0px 40px;
}
body.waitlist .credits {
  font-size: 1.5em;
  margin-top: 0px;
  font-weight: 500;
  opacity: 1;
}
body.waitlist .mid-content-section {
  padding: 40px 0px;
  background: #E5F1FF;
}
body.waitlist .cta-section {
  padding: 70px 0px 10px;
  text-align: center;
}
body.waitlist .cta-section .text {
  margin: 0 auto;
}

/*--------------------------------------------------------------
# Waypoint
--------------------------------------------------------------*/
body.waypoint {
  background: white;
  /*--------------------------------------------------------------
  # Waypoint Mobile 
  --------------------------------------------------------------*/
}
body.waypoint section.hero {
  padding: 50px 0px 100px;
}
body.waypoint section.main {
  color: #143742;
}
body.waypoint section.main h1 {
  font-size: 3.4em;
  font-weight: 700;
  margin: 0.6em 0px;
  letter-spacing: -0.02em;
  color: #143742;
}
body.waypoint section.main h2 {
  font-size: 2.3em;
  font-weight: 700;
}
body.waypoint section.main p {
  font-size: 1.3em;
  font-weight: 500;
  color: #143742;
}
body.waypoint section.main ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.2em;
}
body.waypoint section.main ul li {
  position: relative;
  padding-left: 50px;
  margin: 1.8em 0px;
}
body.waypoint section.main ul li:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url("/assets/img/checkmark.svg");
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
body.waypoint section.main a.cta.lp, body.waypoint section.main button {
  margin: 0.8em 0 1.6em;
  font-size: 0.75em;
  font-weight: 600;
  border: none;
  color: white;
  outline: none;
  letter-spacing: 0.001em;
  padding: 12px 34px;
  box-shadow: none;
  background-color: #FF492C;
  border-radius: 6em;
}
body.waypoint section.main a.cta.lp:hover, body.waypoint section.main button:hover {
  background-color: #f82200;
}
body.waypoint section.main .img-fluid {
  max-width: 85%;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
}
body.waypoint footer {
  color: #143742;
}
@media (max-width: 576px) {
  body.waypoint header {
    padding: 20px;
  }
  body.waypoint .mobile-nav-toggle {
    display: none;
  }
  body.waypoint #clearbit {
    max-height: 40px;
  }
  body.waypoint section.main .text {
    padding-top: 0px;
  }
  body.waypoint section.main h1 {
    font-size: 2.1em;
    font-weight: 500;
    margin-top: 0px;
  }
  body.waypoint section.main p {
    font-weight: 300;
    font-size: 1.2em;
    margin: 1.5em 0px;
  }
  body.waypoint section.main ul {
    text-align: left;
    font-size: 1em;
  }
  body.waypoint section.main ul li {
    margin: 1.2em 0px;
  }
  body.waypoint section.main button.cta {
    font-size: 1em;
    width: auto;
    padding: 1em 2.5em;
    margin-top: 0.5em;
  }
}

/*--------------------------------------------------------------
# Main Paragraph Sections
--------------------------------------------------------------*/
section.main {
  height: 80vh;
}
section.main.lp {
  height: auto;
}
section.main .row {
  margin: auto;
  display: flex;
}
section.main .text {
  padding: 0px 30px;
}
section.main .image {
  text-align: center;
}
section.main h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 10px;
}
section.main h2 {
  font-size: 1.5em;
  margin: 20px 0px;
  line-height: 1.3em;
}
section.main b {
  color: #1d1d1f;
  font-weight: 700;
}
section.main a.cta-link {
  font-weight: 700;
  font-size: 0.8em;
  margin: 10px 0px;
}
section.main .highlight {
  border-bottom: 4px solid rgba(38, 122, 239, 0.99);
}
@media (max-width: 576px) {
  section.main {
    height: 100%;
    padding: 20px 0px;
  }
  section.main .img-fluid.wide, section.main .img-fluid.tall {
    max-width: 100%;
    max-height: 100%;
  }
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
footer {
  font-weight: 700;
  font-size: 0.6em;
  padding-bottom: 20px;
}
footer .credits {
  margin-top: 6px;
  opacity: 0.7;
}
footer img.icon {
  margin-top: 2px;
  width: 36px;
}
@media (max-width: 576px) {
  footer {
    padding: 0px 0px;
  }
  footer img.icon {
    margin-top: 10px;
  }
}
