

// Main Blue Pallette
$blue: #267AEF;
$black: #1d1d1f; //headers
$light-gray: #F5F5F7; //backgrounds
$gray: #6c6c70; //paragraph text
$teal: #00DEAB; //accent color
$green: #8bc34a; //success color

$light-blue: #E5F1FF;

$main-font: "Montserrat", sans-serif;
$fun-font: "Unbounded", sans-serif;
$second-font: "Poppins", sans-serif;
$serif-font: "Lora", serif;
$outfit: "Outfit",sans-serif;


$soft-btn-shadow: 0px 2px 15px rgba(0,0,0,0.15);

$sm-screen: 576px;


// Experimental Pallette

$test-bg-blue: #bdd5ff;
$test-bg-purple: #F4F2FF;
$test-bg-teal: #EBFAF5;





$test-bg-beer: #fefed9;



// Waypoint Theme Pallette
$waypoint-blue: #267AEF;
$waypoint-black: #143742; //headers
$waypoint-light-blue: #EBFAFE; //backgrounds
